   *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        .nav{
            display: flex;
            justify-content: space-between;
            background-color: orange;
            height: 40px;
            align-items:baseline ;
        }
        ul{
            display: flex;
            gap: 10px;
        }
        ul li{
            list-style-type: none;
           
        }
        ul li a{
            text-decoration: none;
             color: white;
             font-weight: 700;
        }
        button{
            padding: 2px 8px;
            background-color: black;
            color: white;
            border-radius: 5px;
            border: none;
            font-weight: 600;
        }
        button:hover{
            background-color: rgb(64, 53, 53);
        }
        button a{
            text-decoration: none;
            color: white;
        }